{% extends 'base.html' %}

{% block content %}
<h1>Update your post</h1>

<form class="col-4 border p-4" method="POST">
    {{ form.hidden_tag() }}

    {{ form.title(class='form-control', placeholder='Title', value=post.title) }}
    {{ form.caption(class='form-control', placeholder='Add a caption (optional)', value=post.caption) }}
    {{ form.img_url(class='form-control', placeholder='Image URL', value=post.img_url) }}

    {{ form.submit(class='btn btn-primary') }}
</form>





{% endblock %}