{% extends 'base.html' %}

{% block content %}
    {% if current_user.is_authenticated %}
        <ul class="list-group"></ul>
            {% for u in users %}
                {% if u.id != current_user.id %}
                    <li class="list-group-item">{{ u.username }}
                        {% if u in current_user.followed.all() %}
                            <a href='{{ url_for("ig.unfollow", user_id=u.id) }}' class="btn btn-danger">Unfollow</a>
                        {% else %}
                            <a href='{{ url_for("ig.follow", user_id=u.id) }}' class="btn btn-primary">Follow</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>   
    {% else %}
        <h2>Log in to see the other users.</h2>
    {% endif %}

{% endblock %}