{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to my Flask App!</h1>
        {% for p in posts %}
            <a class="card text-dark text-decoration-none" style="width: 18rem;" href="{{ url_for('single_post_page', post_id=p.id) }}">
                <img src="{{ p.img_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ p.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    {{ p.author.username }}
                </h6>
                <p class="card-text">{{ p.caption }}</p>
                </div>
            </a>
        {% endfor %}
{% endblock %}

{% block title %}
Home Page
{% endblock %}