{% extends 'base.html' %}

{% block content %}
<h1>This is the sign up page</h1>

<form class="col-4 border p-4" method="POST">
    {{ form.hidden_tag() }}

    {{ form.username(class='form-control', placeholder='Username') }}
    {{ form.email(class='form-control', placeholder='Email') }}
    {{ form.password(class='form-control', placeholder='Password') }}
    {{ form.confirm_password(class='form-control', placeholder='Confirm Password') }}
    {{ form.submit(class='btn btn-primary') }}
</form>
{% endblock %}



{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
{% endblock %}
